*~
*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/


# Ignore possible symlinked build and install directories
# Note: we can't use a / at the end because they might be
# symlink to a directory
build*
install*

# If you build with spack libraries, you can get spack log files
spack*.log
*.md
visualize_data.py
lab.html
sync/geotiff_to_pmtiles.py
sync/update_site_index.py
sync/unverified_locations.json
sync/skipped_no_forecast.json
sync/pending_rename_locations.json
sync/pandora_dos_locations.json
sync/missing_locations.json
sync/missing_files.json
sync/locations.json
sync/global_dedupe_report.csv
sync/global.json
sync/__pycache__/update_site_index.cpython-310.pyc
precomputed/sites_index.json.bak
